<form class="form w-100 reset-password-form" novalidate="novalidate" [formGroup]="resetPasswordForm" (ngSubmit)="submit()">
  <!--begin::Heading-->
  <div class="text-center mb-11">
    <!--begin::Title-->
    <h1 class="text-dark fw-bolder mb-3" [translate]="'AUTH.RESET_PASSWORD.RESET_PASSWORD'">
    </h1>
    <!--end::Title-->
  </div>
  <!--end::Heading-->
  <!-- begin::Alert error-->
  <ng-container *ngIf="hasError">
    <div class="mb-lg-15 alert alert-danger">
      <div class="alert-text font-weight-bold"
           [translate]="'AUTH.RESET_PASSWORD.THE_RESET_PASSWORD_DETAILS_ARE_INCORRECT'">
      </div>
      <span [innerHTML]="errorMessage"></span>
    </div>
  </ng-container>
  <!-- end::Alert error-->
  <!--begin::Form group-->
  <div class="fv-row mb-8">
    <label class="form-label fw-bolder text-dark fs-6" [translate]="'AUTH.RESET_PASSWORD.PASSWORD'"></label>
    <input class="form-control bg-transparent" type="password"
           placeholder="{{ 'AUTH.RESET_PASSWORD.PASSWORD' | translate }}" name="password" formControlName="password"
           autocomplete="off" [ngClass]="{
        'is-invalid': resetPasswordForm.controls['password'].invalid,
        'is-valid': resetPasswordForm.controls['password'].valid
      }" />
    <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
        validation: 'required',
        message: 'PASSWORD_IS_REQUIRED',
        control: resetPasswordForm.controls['password']
      }"></ng-container>
    <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
        validation: 'minlength',
        message: 'PASSWORD_SHOULD_HAVE_AT_LEAST_6_CHARACTERS',
        control: resetPasswordForm.controls['password']
      }"></ng-container>
    <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
        validation: 'maxLength',
        message: 'PASSWORD_SHOULD_HAVE_MAXIMUM_100_CHARACTERS',
        control: resetPasswordForm.controls['password']
      }"></ng-container>
  </div>
  <!--end::Form group-->
  <!--begin::Form group-->
  <div class="fv-row mb-8">
    <label class="form-label fw-bolder text-dark fs-6"
           [translate]="'AUTH.RESET_PASSWORD.CONFIRMATION_PASSWORD'"></label>
    <input class="form-control bg-transparent" type="password"
           placeholder="{{ 'AUTH.RESET_PASSWORD.CONFIRMATION_PASSWORD' | translate }}" name="confirmationPassword"
           autocomplete="off" formControlName="confirmationPassword" [ngClass]="{
        'is-invalid': resetPasswordForm.controls['confirmationPassword'].invalid,
        'is-valid': resetPasswordForm.controls['confirmationPassword'].valid
      }" />
    <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
        validation: 'required',
        message: 'CONFIRMATION_PASSWORD_IS_REQUIRED',
        control: resetPasswordForm.controls['confirmationPassword']
      }"></ng-container>
    <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
        validation: 'minlength',
        message: 'CONFIRMATION_PASSWORD_SHOULD_HAVE_AT_LEAST_6_CHARACTERS',
        control: resetPasswordForm.controls['confirmationPassword']
      }"></ng-container>
    <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
        validation: 'maxLength',
        message: 'CONFIRMATION_PASSWORD_SHOULD_HAVE_MAXIMUM_100_CHARACTERS',
        control: resetPasswordForm.controls['confirmationPassword']
      }"></ng-container>
    <ng-container *ngIf="
        resetPasswordForm.controls['confirmationPassword'].errors &&
        resetPasswordForm.controls['confirmationPassword'].errors.ConfirmationPassword
      ">
      <div class="fv-plugins-message-container">
        <div class="fv-help-block">
          {{ 'AUTH.RESET_PASSWORD.THE_PASSWORD_AND_CONFIRMATION_PASSWORD_DO_NOT_MATCH' | translate }}
        </div>
      </div>
    </ng-container>
  </div>
  <!--end::Form group-->
  <!--begin::Form group-->
  <div class="d-grid mb-10">
    <button type="submit" id="kt_sign_up_submit" [disabled]="resetPasswordForm.invalid" class="btn btn-primary">
      <ng-container *ngIf="(isLoading$ | async) === false">
        <span class="indicator-label" [translate]="'AUTH.RESET_PASSWORD.SUBMIT'"></span>
      </ng-container>
      <ng-container *ngIf="isLoading$ | async">
        <span class="indicator-progress" [style.display]="'block'">
          {{ 'AUTH.RESET_PASSWORD.PLEASE_WAIT' | translate }}
          <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
        </span>
      </ng-container>
    </button>
  </div>
  <!--end::Form group-->
</form>
<ng-template #formError let-control="control" let-message="message" let-validation="validation">
  <ng-container *ngIf="control.hasError(validation) && (control.dirty || control.touched)">
    <div class="fv-plugins-message-container">
      <div class="fv-help-block">
        <span role="alert">
          {{ 'AUTH.RESET_PASSWORD.' + message | translate }}
        </span>
      </div>
    </div>
  </ng-container>
</ng-template>