<div class="card">
  <div class="card-header border-0 pt-6">
    <!--begin::Card title-->
    <div class="card-title">
      <!--begin::Search-->
      <div class="d-flex align-items-center position-relative my-1">
        <app-keenicon name="magnifier" class="fs-3 position-absolute ms-5"></app-keenicon>
        <input type="text" data-action="filter" class="form-control form-control-solid w-250px ps-12"
          placeholder="{{ 'ROOM_TYPES.LIST.SEARCH_BY_NAME' | translate }}">
      </div>
      <!--end::Search-->
    </div>
    <!--begin::Card title-->
    <!--begin::Card toolbar-->
    <div class="card-toolbar">
      <!--begin::Toolbar-->
      <div class="d-flex justify-content-end">
        <!--begin::Add room type-->
        <button type="button" class="btn btn-primary" data-action="create">
          {{ 'ROOM_TYPES.LIST.ADD_ROOM_TYPE' | translate }}
        </button>
        <!--end::Add room type-->
      </div>
      <!--end::Toolbar-->
    </div>
    <!--end::Card toolbar-->
  </div>
  <div *ngIf="authService.userHasRole(['Administrator', 'Company administrator']); else basic" class="card-body pt-0">
    <app-crud [datatableConfig]="datatableConfig" route="/apps/room-types" (deleteEvent)="delete($event)"
      (editEvent)="edit($event)" (createEvent)="create()" [reload]="reloadEvent" [modal]="formModal"></app-crud>
  </div>
  <ng-template #basic>
    <app-crud [datatableConfig]="datatableConfig" route="/apps/room-types" (editEvent)="edit($event)" [reload]="reloadEvent" [modal]="formModal" [isReadOnly]="true"></app-crud>
  </ng-template>  
</div>
<swal #noticeSwal [swalOptions]="swalOptions">
</swal>
<ng-template #formModal let-modal>
  <form #myForm="ngForm" (ngSubmit)="onSubmit($event, myForm)">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">{{ 'ROOM_TYPES.LIST.ROOM_TYPE_DETAILS' | translate }}</h4>
      <button type="button" class="btn-close" title="{{ 'ROOM_TYPES.LIST.CLOSE' | translate }}" attr.aria-label="{{ 'ROOM_TYPES.LIST.CLOSE' | translate }}"
        (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <div class="d-flex flex-column scroll-y me-n7 pe-7 mw-650px" id="kt_modal_update_customer_scroll"
        data-kt-scroll="true" data-kt-scroll-activate="{default: false, lg: true}" data-kt-scroll-max-height="auto"
        data-kt-scroll-dependencies="#kt_modal_update_customer_header"
        data-kt-scroll-wrappers="#kt_modal_update_customer_scroll" data-kt-scroll-offset="300px">
        <!--begin::RoomType toggle-->
        <div class="fw-bold fs-3 rotate collapsible mb-7" data-bs-toggle="collapse" role="button"
          (click)="collapse1.toggle()" [attr.aria-expanded]="!isCollapsed1">{{ 'ROOM_TYPES.LIST.ROOM_TYPE_INFORMATION' |
          translate }}
          <span class="ms-2 rotate-180">
            <i class="ki-duotone ki-down fs-3" [ngClass]="{ 'ki-up': !isCollapsed1 }"></i>
          </span>
        </div>
        <!--end::RoomType toggle-->
        <!--begin::RoomType form-->
        <div class="collapse show" #collapse1="ngbCollapse" [(ngbCollapse)]="isCollapsed1">
            <app-language [hasTranslations]="roomTypeModel.hasTranslations()" [isReadOnly]="isReadOnly" (changeEvent)="changeLanguage($event)" (clearEvent)="removeTranslations()"></app-language>
          <!--begin::Input group-->
          <div class="fv-row mb-7">
            <!--begin::Label-->
            <ng-template #tipNameContent>
              <table class="table table-bordered">
                <thead>
                  <tr class="fw-bold fs-6 text-gray-800">
                    <th [translate]="'ROOM_TYPES.LIST.LANGUAGE'"></th>
                    <th [translate]="'ROOM_TYPES.LIST.TRANSLATION'"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td></td>
                    <td>{{ roomTypeModel.name }}</td>
                  </tr>
                  <ng-container *ngFor="let translation of roomTypeModel.translations">
                    <tr>
                      <td>{{ translation.languageCode }}</td>
                      <td>{{ translation.name }}</td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
            </ng-template>
            <label class="required fw-semibold fs-6 mb-2" [translate]="'ROOM_TYPES.LIST.NAME'"></label>
            <span class="ms-1" placement="end" [ngbTooltip]="tipNameContent" container="body">
              <i class="ki-outline ki-flag text-primary" [ngClass]="roomTypeModel.hasTranslation('name')  ? 'text-primary' : 'text-gray-600'"></i>
            </span>
            <!--end::Label-->
            <!--begin::Input-->
            <input type="text" hidden name="name" [(ngModel)]="roomTypeModel.name" #name="ngModel" required
              minlength="4" maxlength="256" [readonly]="isReadOnly" />
            <input type="text" title="{{ 'ROOM_TYPES.LIST.NAME' | translate }}" class="form-control form-control-solid"
              name="translationName" [(ngModel)]="roomTypeModel.translationName" #translationName="ngModel"
              minlength="4" maxlength="256" [readonly]="isReadOnly" />
            <input type="text" hidden name="translationsName" [(ngModel)]="roomTypeModel.translationName"
              #translationsName="ngModel" appTranslationsValidator [translations]="roomTypeModel.translations"
              validators='{ "property": "name", "required": true, "minlength": 4, "maxlength": 256 }' [readonly]="isReadOnly" />              
            <div *ngIf="myForm.submitted && myForm.invalid"
              class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
              <div *ngIf="name.errors?.['required']">{{ 'ROOM_TYPES.LIST.NAME_IS_REQUIRED' | translate }}</div>
              <div *ngIf="name.errors?.['minlength'] || translationName.errors?.['minlength']">{{
                'ROOM_TYPES.LIST.NAME_SHOULD_HAVE_AT_LEAST_4_CHARACTERS' |
                translate }}</div>
              <div *ngIf="name.errors?.['maxlength'] || translationName.errors?.['maxlength']">{{
                'ROOM_TYPES.LIST.NAME_SHOULD_HAVE_MAXIMUM_256_CHARACTERS' |
                translate }}</div>
            </div>
            <!--end::Input-->
          </div>
          <!--end::Input group-->
          <!--begin::Input group-->
          <div class="fv-row mb-7">
            <!--begin::Label-->
            <ng-template #tipShortDescriptionContent>
              <table class="table table-bordered">
                <thead>
                  <tr class="fw-bold fs-6 text-gray-800">
                    <th [translate]="'ROOM_TYPES.LIST.LANGUAGE'"></th>
                    <th [translate]="'ROOM_TYPES.LIST.TRANSLATION'"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td></td>
                    <td>{{ roomTypeModel.shortDescription }}</td>
                  </tr>
                  <ng-container *ngFor="let translation of roomTypeModel.translations">
                    <tr>
                      <td>{{ translation.languageCode }}</td>
                      <td>{{ translation.shortDescription }}</td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
            </ng-template>            
            <label class="fw-semibold fs-6 mb-2" [translate]="'ROOM_TYPES.LIST.SHORT_DESCRIPTION'"></label>
            <span class="ms-1" placement="end" [ngbTooltip]="tipShortDescriptionContent" container="body">
              <i class="ki-outline ki-flag text-primary" [ngClass]="roomTypeModel.hasTranslation('shortDescription')  ? 'text-primary' : 'text-gray-600'"></i>
            </span>
            <!--end::Label-->
            <!--begin::Input-->
            <input type="text" hidden name="shortDescription" [(ngModel)]="roomTypeModel.shortDescription"
              #shortDescription="ngModel" maxlength="500" [readonly]="isReadOnly" />
            <input type="text" title="{{ 'ROOM_TYPES.LIST.SHORT_DESCRIPTION' | translate }}"
              class="form-control form-control-solid" name="translationShortDescription"
              [(ngModel)]="roomTypeModel.translationShortDescription" #translationShortDescription="ngModel"
              maxlength="500" [readonly]="isReadOnly" />
            <div *ngIf="myForm.submitted && myForm.invalid"
              class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
              <div *ngIf="shortDescription.errors?.['maxlength'] || translationShortDescription.errors?.['maxlength']">
                {{ 'ROOM_TYPES.LIST.SHORT_DESCRIPTION_SHOULD_HAVE_MAXIMUM_500_CHARACTERS' |
                translate }}</div>
            </div>
            <!--end::Input-->
          </div>
          <!--end::Input group-->
          <!--begin::Input group-->
          <div class="fv-row mb-7">
            <!--begin::Label-->
            <label class="fw-semibold fs-6 mb-2" [translate]="'ROOM_TYPES.LIST.COMPANIES'"></label>
            <!--end::Label-->
            <!--begin::Select-->
            <div class="scrollable-companies-box">
              <div class="overflow-box">
                <ng-select [items]="companiesList" class="form-select form-select-solid form-select-lg" name="companies"
                  bindValue="id" bindLabel="name" [multiple]="true"
                  appendTo=".scrollable-companies-box" id="companies" [(ngModel)]="roomTypeModel.companies" (change)="onCompaniesChange()" #companies="ngModel"></ng-select>
              </div>
            </div>
            <!--end::Select-->
          </div>
          <!--end::Input group-->   
          <!--begin::Input group-->
          <div class="fv-row mb-7">
            <!--begin::Label-->
            <label class="fw-semibold fs-6 mb-2" [translate]="'ROOM_TYPES.LIST.HOTELS'"></label>
            <!--end::Label-->
            <!--begin::Select-->
            <div class="scrollable-hotels-box">
              <div class="overflow-box">
                <ng-select [items]="roomTypeModel.hotelsList" class="form-select form-select-solid form-select-lg" name="hotels"
                  bindValue="id" bindLabel="name" [multiple]="true"
                  appendTo=".scrollable-hotels-box" id="hotels" [(ngModel)]="roomTypeModel.hotels" (change)="onHotelsChange()" #hotels="ngModel"></ng-select>
              </div>
            </div>
            <!--end::Select-->
          </div>
          <!--end::Input group-->          
          <div class="mb-7">
            <label class="fw-semibold fs-6 mb-5" [translate]="'ROOM_TYPES.LIST.BUILDINGS'"></label>
              <div *ngFor="let building of (buildings$ | async); let last = last">
                <div class="d-flex fv-row">
                  <div class="form-check">
                    <input class="form-check-input me-3" id="kt_modal_update_building_option_{{ building.id }}" name="buildings" type="checkbox" [value]="building.name" [attr.checked]="roomTypeModel.buildings && roomTypeModel.buildings.indexOf(building.id) > -1 ? '' : null" (change)="onChange($event, building.id)" [disabled]="isReadOnly" />
                    <label class="form-check-label" for="kt_modal_update_building_option_{{ building.id }}">
                      <span class="fw-bold text-gray-800">
                        {{ building.name | titlecase }}
                      </span>
                      <span class="text-gray-600">
                        {{ building.shortDescription }}
                      </span>
                    </label>
                  </div>
              </div>
              <div *ngIf="!last" class="separator separator-dashed my-5"></div>
            </div>
          </div>
        </div>
        <!--end::RoomType form-->
      </div>
    </div>
    <div class="modal-footer flex-center">
      <!--begin::Button-->
      <button *ngIf="!isReadOnly" type="reset" id="kt_modal_update_customer_cancel" class="btn btn-light me-3"
        (click)="modal.dismiss('cancel')">
        {{ 'ROOM_TYPES.LIST.DISCARD' | translate }}
      </button>
      <!--end::Button-->
      <!--begin::Button-->
      <button *ngIf="!isReadOnly" type="submit" id="kt_modal_update_customer_submit" class="btn btn-primary"
        [attr.data-kt-indicator]="isLoading ? 'on' : 'off'">
        <span class="indicator-label">
          {{ 'ROOM_TYPES.LIST.SUBMIT' | translate }}
        </span>
        <span class="indicator-progress">
          {{ 'ROOM_TYPES.LIST.PLEASE_WAIT' | translate }}
          <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
        </span>
      </button>
      <!--end::Button-->
      <!--begin::Button-->
      <button *ngIf="isReadOnly" type="reset" id="kt_modal_update_customer_close" class="btn btn-primary me-3"
        (click)="modal.dismiss('cancel')">
        {{ 'ROOM_TYPES.LIST.CLOSE' | translate }}
      </button>
      <!--end::Button-->       
    </div>
  </form>
</ng-template>