<div class="card">
  <div class="card-header border-0 pt-6">
    <!--begin::Card title-->
    <div class="card-title">
      <!--begin::Search-->
      <div class="d-flex align-items-center position-relative my-1">
        <app-keenicon name="magnifier" class="fs-3 position-absolute ms-5"></app-keenicon>
        <input type="text" data-action="filter" class="form-control form-control-solid w-250px ps-12" placeholder="{{ 'USERS.LIST.SEARCH_BY_LASTNAME' | translate }}">
      </div>
      <!--end::Search-->
    </div>
    <!--begin::Card title-->
    <!--begin::Card toolbar-->
    <div class="card-toolbar">
      <!--begin::Toolbar-->
      <div class="d-flex justify-content-end">
        <!--begin::Add room type-->
        <button type="button" class="btn btn-primary" data-action="create">
          {{ 'USERS.LIST.ADD_USER' | translate }}
        </button>
        <!--end::Add room type-->
      </div>
      <!--end::Toolbar-->
    </div>
    <!--end::Card toolbar-->    
  </div>
  <div class="card-body pt-0">
    <app-crud [datatableConfig]="datatableConfig" route="/apps/users" (deleteEvent)="delete($event)" (editEvent)="edit($event)" (createEvent)="create()" (emailEvent)="email($event)" [reload]="reloadEvent" [modal]="formModal"></app-crud>
  </div>
</div>
<swal #noticeSwal [swalOptions]="swalOptions">
</swal>
<ng-template #formModal let-modal>
  <form #myForm="ngForm" (ngSubmit)="onSubmit($event, myForm)">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">
        {{ 'USERS.LIST.USER_DETAILS' | translate }}
        <span *ngIf="userModel.emailConfirmed" class="badge badge-light-success fs-7 fw-semibold">{{ 'USERS.LIST.VALIDATED' | translate }}</span>
        <span *ngIf="!userModel.emailConfirmed" class="badge badge-light-danger fs-7 fw-semibold">{{ 'USERS.LIST.NOT_VALIDATED' | translate }}</span>
      </h4>
      <button type="button" class="btn-close" title="{{ 'USERS.LIST.CLOSE' | translate }}" attr.aria-label="{{ 'USERS.LIST.CLOSE' | translate }}" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <div class="d-flex flex-column scroll-y me-n7 pe-7 mw-650px" id="kt_modal_update_customer_scroll" data-kt-scroll="true" data-kt-scroll-activate="{default: false, lg: true}" data-kt-scroll-max-height="auto" data-kt-scroll-dependencies="#kt_modal_update_customer_header" data-kt-scroll-wrappers="#kt_modal_update_customer_scroll"
        data-kt-scroll-offset="300px">
        <!--begin::User toggle-->
        <div class="fw-bold fs-3 rotate collapsible mb-7" data-bs-toggle="collapse" role="button" (click)="collapse1.toggle()" [attr.aria-expanded]="!isCollapsed1" aria-controls="kt_modal_update_customer_user_info">{{ 'USERS.LIST.USER_INFORMATION' | translate }}
          <span class="ms-2 rotate-180">
            <i class="ki-duotone ki-down fs-3" [ngClass]="{ 'ki-up': !isCollapsed1 }"></i>
          </span>
        </div>
        <!--end::User toggle-->
        <!--begin::User form-->
        <div class="collapse show" #collapse1="ngbCollapse" [(ngbCollapse)]="isCollapsed1">
          <!--begin::Input group-->
          <div class="fv-row mb-7">
            <!--begin::Label-->
            <label for="firstname" class="required fw-semibold fs-6 mb-2" [translate]="'USERS.LIST.FIRSTNAME'"></label>
            <!--end::Label-->
            <!--begin::Input-->
            <input type="text" title="{{ 'USERS.LIST.FIRSTNAME' | translate }}" class="form-control form-control-solid" id="firstname" name="firstname" [(ngModel)]="userModel.firstname" #firstname="ngModel" required minlength="2" maxlength="256" />
            <div *ngIf="myForm.submitted && myForm.invalid" class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
              <div *ngIf="firstname.errors?.['required']">{{ 'USERS.LIST.FIRSTNAME_IS_REQUIRED' | translate }}</div>
              <div *ngIf="firstname.errors?.['minlength']">{{ 'USERS.LIST.FIRSTNAME_SHOULD_HAVE_AT_LEAST_2_CHARACTERS' | translate }}</div>
              <div *ngIf="firstname.errors?.['maxlength']">{{ 'USERS.LIST.FIRSTNAME_SHOULD_HAVE_MAXIMUM_256_CHARACTERS' | translate }}</div>
            </div>
            <!--end::Input-->
          </div>
          <!--end::Input group-->
          <!--begin::Input group-->
          <div class="fv-row mb-7">
            <!--begin::Label-->
            <label for="lastname" class="required fw-semibold fs-6 mb-2" [translate]="'USERS.LIST.LASTNAME'"></label>
            <!--end::Label-->
            <!--begin::Input-->
            <input type="text" title="{{ 'USERS.LIST.LASTNAME' | translate }}" class="form-control form-control-solid" id="lastname" name="lastname" [(ngModel)]="userModel.lastname" #lastname="ngModel" required minlength="2" maxlength="256" />            
            <div *ngIf="myForm.submitted && myForm.invalid" class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
              <div *ngIf="lastname.errors?.['required']">{{ 'USERS.LIST.LASTNAME_IS_REQUIRED' | translate }}</div>
              <div *ngIf="lastname.errors?.['minlength']">{{ 'USERS.LIST.LASTNAME_SHOULD_HAVE_AT_LEAST_2_CHARACTERS' | translate }}</div>
              <div *ngIf="lastname.errors?.['maxlength']">{{ 'USERS.LIST.LASTNAME_SHOULD_HAVE_MAXIMUM_256_CHARACTERS' | translate }}</div>
            </div>
            <!--end::Input-->
          </div>
          <!--end::Input group-->
          <!--begin::Input group-->
          <div class="fv-row mb-7">
            <!--begin::Label-->
            <label for="email" class="required fw-semibold fs-6 mb-2">
              <span>{{ 'USERS.LIST.EMAIL' | translate }}</span>
              <span class="ms-1" placement="end" ngbTooltip="{{ 'USERS.LIST.EMAIL_ADDRESS_MUST_BE_ACTIVE' | translate }}">
                <app-keenicon name="information" class="fs-7"></app-keenicon>
              </span>
            </label>
            <!--end::Label-->
            <!--begin::Input-->
            <input type="email" title="{{ 'USERS.LIST.EMAIL' | translate }}" class="form-control form-control-solid" id="email" name="email" [(ngModel)]="userModel.email" #email="ngModel" required minlength="3" maxlength="256" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" />
            <div *ngIf="myForm.submitted && myForm.invalid" class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
              <div *ngIf="email.errors?.['required']">{{ 'USERS.LIST.EMAIL_IS_REQUIRED' | translate }}</div>
              <div *ngIf="email.errors?.['pattern']">{{ 'USERS.LIST.EMAIL_IS_INVALID' | translate }}</div>
              <div *ngIf="email.errors?.['minlength']">{{ 'USERS.LIST.EMAIL_SHOULD_HAVE_AT_LEAST_3_CHARACTERS' | translate }}</div>
              <div *ngIf="email.errors?.['maxlength']">{{ 'USERS.LIST.EMAIL_SHOULD_HAVE_MAXIMUM_256_CHARACTERS' | translate }}</div>
            </div>
            <!--end::Input-->
          </div>
          <!--end::Input group-->
          <div class="mb-7">
            <label class="required fw-semibold fs-6 mb-5" [translate]="'USERS.LIST.ROLES'">              
            </label>
            <div *ngFor="let role of (roles$ | async); let last = last">
              <div class="d-flex fv-row">
                <div class="form-check">
                  <input class="form-check-input me-3" id="kt_modal_update_role_option_{{ role.id }}" name="roles[]" type="checkbox" [value]="role.name" [attr.checked]="userModel.roles && userModel.roles.indexOf(role.id) > -1 ? '' : null" (change)="onChange($event, role.id)" />
                  <label class="form-check-label" for="kt_modal_update_role_option_{{ role.id }}">
                    <span class="fw-bold text-gray-800">
                      {{ role.name }}
                    </span>
                    <span class="text-gray-600">
                      {{ role.shortDescription }}
                    </span>
                  </label>
                </div>
              </div>
              <div *ngIf="!last" class="separator separator-dashed my-5"></div>
            </div>
            <div *ngIf="myForm.submitted && myForm.invalid" class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
              <div *ngIf="!isAtLeastOneRoleSelected()">{{ 'USERS.LIST.SELECTING_AT_LEAST_ONE_ROLE_IS_REQUIRED' | translate }}</div>
            </div>            
          </div>
          <!--begin::Input group-->
          <div class="fv-row mb-7">
            <!--begin::Label-->
            <label class="fw-semibold fs-6 mb-2" [translate]="'USERS.LIST.COMPANIES'"></label>
            <!--end::Label-->
            <!--begin::Select-->
            <div class="scrollable-companies-box">
              <div class="overflow-box">
                <ng-select [items]="companiesList" class="form-select form-select-solid form-select-lg" name="companies"
                  bindValue="id" bindLabel="name" [multiple]="true"
                  appendTo=".scrollable-companies-box" id="companies" [(ngModel)]="userModel.companies" (change)="onCompaniesChange()" #companies="ngModel"></ng-select>
              </div>
            </div>
            <!--end::Select-->
          </div>
          <!--end::Input group-->   
          <!--begin::Input group-->
          <div class="fv-row mb-7">
            <!--begin::Label-->
            <label class="fw-semibold fs-6 mb-2" [translate]="'USERS.LIST.PROJECTS'"></label>
            <!--end::Label-->
            <!--begin::Select-->
            <div class="scrollable-projects-box">
              <div class="overflow-box">
                <ng-select [items]="userModel.projectsList" class="form-select form-select-solid form-select-lg" name="projects"
                  bindValue="id" bindLabel="name" [multiple]="true"
                  appendTo=".scrollable-projects-box" id="projects" [(ngModel)]="userModel.projects" #projects="ngModel"></ng-select>
              </div>
            </div>
            <!--end::Select-->
          </div>
          <!--end::Input group-->            
        </div>
        <!--end::User form-->
      </div>
    </div>
    <div class="modal-footer flex-center">
      <!--begin::Button-->
      <button type="reset" id="kt_modal_update_customer_cancel" class="btn btn-light me-3" (click)="modal.dismiss('cancel')">
        {{ 'USERS.LIST.DISCARD' | translate }}
      </button>
      <!--end::Button-->
      <!--begin::Button-->
      <button type="submit" id="kt_modal_update_customer_submit" class="btn btn-primary" [attr.data-kt-indicator]="isLoading ? 'on' : 'off'">
        <span class="indicator-label">
          {{ 'USERS.LIST.SUBMIT' | translate }}
        </span>
        <span class="indicator-progress">
          {{ 'USERS.LIST.PLEASE_WAIT' | translate }}
          <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
        </span>
      </button>
      <!--end::Button-->
    </div>
  </form>
</ng-template>
