<div class="card mb-5 mb-xl-10" id="kt_profile_details_view">
    <div class="card-header cursor-pointer">
        <div class="card-title m-0">
            <h3 class="fw-bolder m-0" [translate]="'ACCOUNT.API_KEYS.API_KEYS'"></h3>
        </div>
        <a class="btn btn-primary align-self-center" [translate]="'ACCOUNT.API_KEYS.NEW_API_KEY'"
            (click)="generateApiKey()">
        </a>
    </div>
    <div class="card-body p-9">
        <div *ngIf="apiKey" class="row mb-7">
            <label class="col-lg-4 fw-bold text-muted" [translate]="'ACCOUNT.API_KEYS.API_KEY'"></label>
            <div class="col-lg-8">
                <span class="fw-bolder fs-6 text-gray-900">{{ apiKey }}</span>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header border-0 pt-6">
      <!--begin::Card title-->
      <div class="card-title">
        <!--begin::Search-->
        <div class="d-flex align-items-center position-relative my-1">
          <app-keenicon name="magnifier" class="fs-3 position-absolute ms-5"></app-keenicon>
          <input type="text" data-action="filter" class="form-control form-control-solid w-250px ps-12"
            placeholder="{{ 'ACCOUNT.API_KEYS.SEARCH_BY_NAME' | translate }}">
        </div>
        <!--end::Search-->
      </div>
      <!--begin::Card title-->
      <!--begin::Card toolbar-->
      <div class="card-toolbar">
        <!--begin::Toolbar-->
        <div class="d-flex justify-content-end">
          <!--begin::Add board-->
          <button type="button" class="btn btn-primary" data-action="create">
            {{ 'ACCOUNT.API_KEYS.ADD_BOARD' | translate }}
          </button>
          <!--end::Add board-->
        </div>
        <!--end::Toolbar-->
      </div>
      <!--end::Card toolbar-->
    </div>
    <app-crud [datatableConfig]="datatableConfig" route="/crafted/account/api-keys" [reload]="reloadEvent" [isReadOnly]="true"></app-crud>
  </div>