<div class="card">
    <div class="card-header border-0 pt-6">
      <!--begin::Card title-->
      <div class="card-title">
        <!--begin::Search-->
        <div class="d-flex align-items-center position-relative my-1">
          <app-keenicon name="magnifier" class="fs-3 position-absolute ms-5"></app-keenicon>
          <input type="text" data-action="filter" class="form-control form-control-solid w-250px ps-12" placeholder="{{ 'TEMPLATES.LIST.SEARCH_BY_NAME' | translate }}">
        </div>
        <!--end::Search-->
      </div>
      <!--begin::Card title-->
      <!--begin::Card toolbar-->
      <div class="card-toolbar">
        <!--begin::Toolbar-->
        <div class="d-flex justify-content-end">
          <!--begin::Add template-->
          <button *ngIf="authService.userHasRole(['Administrator'])" type="button" class="btn btn-primary" data-action="create">
            {{ 'TEMPLATES.LIST.ADD_TEMPLATE' | translate }}
          </button>
          <!--end::Add template-->
        </div>
        <!--end::Toolbar-->
      </div>
      <!--end::Card toolbar-->
    </div>
    <div *ngIf="authService.userHasRole(['Administrator']); else nonAdmintrator" class="card-body pt-0">
      <app-crud [datatableConfig]="datatableConfig" route="/apps/companies" (deleteEvent)="delete($event)"
        (editEvent)="edit($event)" (createEvent)="create()" [reload]="reloadEvent" [modal]="formModal"></app-crud>
    </div>
    <ng-template #nonAdmintrator>
      <app-crud [datatableConfig]="datatableConfig" route="/apps/companies" (editEvent)="edit($event)" [reload]="reloadEvent" [modal]="formModal" [isReadOnly]="true"></app-crud>
    </ng-template>    
  </div>
  <swal #noticeSwal [swalOptions]="swalOptions">
  </swal>
  <ng-template #formModal let-modal>
    <form #myForm="ngForm" (ngSubmit)="onSubmit($event, myForm)">
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{ 'TEMPLATES.LIST.TEMPLATE_DETAILS' | translate }}</h4>
        <button title="{{ 'TEMPLATES.LIST.CLOSE' | translate }}" type="button" class="btn-close" attr.aria-label="{{ 'TEMPLATES.LIST.CLOSE' | translate }}" (click)="modal.dismiss('Cross click')"></button>
      </div>
      <div class="modal-body">
        <div class="d-flex flex-column scroll-y me-n7 pe-7 mw-650px" id="kt_modal_update_customer_scroll"
          data-kt-scroll="true" data-kt-scroll-activate="{default: false, lg: true}" data-kt-scroll-max-height="auto"
          data-kt-scroll-dependencies="#kt_modal_update_customer_header"
          data-kt-scroll-wrappers="#kt_modal_update_customer_scroll" data-kt-scroll-offset="300px">
          <!--begin::Template toggle-->
          <div class="fw-bold fs-3 rotate collapsible mb-7" data-bs-toggle="collapse" role="button"
            (click)="collapse1.toggle()" [attr.aria-expanded]="!isCollapsed1">{{ 'TEMPLATES.LIST.TEMPLATE_INFORMATION' | translate }}
            <span class="ms-2 rotate-180">
              <i class="ki-duotone ki-down fs-3" [ngClass]="{ 'ki-up': !isCollapsed1 }"></i>
            </span>
          </div>
          <!--end::Template toggle-->
          <!--begin::Template form-->
          <div class="collapse show" #collapse1="ngbCollapse" [(ngbCollapse)]="isCollapsed1">
            <app-language [hasTranslations]="templateModel.hasTranslations()" [isReadOnly]="isReadOnly" (changeEvent)="changeLanguage($event)" (clearEvent)="removeTranslations()"></app-language>
            <!--begin::Input group-->
            <div class="fv-row mb-7">
              <!--begin::Label-->
              <ng-template #tipNameContent>
                <table class="table table-bordered">
                  <thead>
                    <tr class="fw-bold fs-6 text-gray-800">
                      <th [translate]="'TEMPLATES.LIST.LANGUAGE'"></th>
                      <th [translate]="'TEMPLATES.LIST.TRANSLATION'"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td></td>
                      <td>{{ templateModel.name }}</td>
                    </tr>
                    <ng-container *ngFor="let translation of templateModel.translations">
                      <tr>
                        <td>{{ translation.languageCode }}</td>
                        <td>{{ translation.name }}</td>
                      </tr>
                    </ng-container>
                  </tbody>
                </table>
              </ng-template>              
              <label class="required fw-semibold fs-6 mb-2" [translate]="'TEMPLATES.LIST.NAME'"></label>
              <span class="ms-1" placement="end" [ngbTooltip]="tipNameContent" container="body">
                <i class="ki-outline ki-flag text-primary" [ngClass]="templateModel.hasTranslation('name')  ? 'text-primary' : 'text-gray-600'"></i>
              </span>  
              <!--end::Label-->
            <!--begin::Input-->
            <input type="text" hidden name="name" [(ngModel)]="templateModel.name" #name="ngModel" required minlength="4"
              maxlength="256" [readonly]="isReadOnly" />
            <input type="text" title="{{ 'TEMPLATES.LIST.NAME' | translate }}" class="form-control form-control-solid"
              name="translationName" [(ngModel)]="templateModel.translationName" #translationName="ngModel" minlength="4"
              maxlength="256" [readonly]="isReadOnly" />
            <input type="text" hidden name="translationsName" [(ngModel)]="templateModel.translationName"
              #translationsName="ngModel" appTranslationsValidator [translations]="templateModel.translations"
              validators='{ "property": "name", "required": true, "minlength": 4, "maxlength": 256 }' [readonly]="isReadOnly" />
            <div *ngIf="myForm.submitted && myForm.invalid"
              class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
              <div *ngIf="name.errors?.['required'] || translationsName.errors?.['required']">{{
                'TEMPLATES.LIST.NAME_IS_REQUIRED' | translate }}</div>
              <div
                *ngIf="name.errors?.['minlength'] || translationName.errors?.['minlength'] || translationsName.errors?.['minlength']">
                {{
                'TEMPLATES.LIST.NAME_SHOULD_HAVE_AT_LEAST_4_CHARACTERS' |
                translate }}
              </div>
              <div
                *ngIf="name.errors?.['maxlength'] || translationName.errors?.['maxlength'] || translationsName.errors?.['maxlength']">
                {{
                'TEMPLATES.LIST.NAME_SHOULD_HAVE_MAXIMUM_256_CHARACTERS' |
                translate }}
              </div>
            </div>
            <!--end::Input-->
            </div>
            <!--end::Input group-->
            <!--begin::Input group-->
            <div class="fv-row mb-7">
              <!--begin::Label-->
              <ng-template #tipShortDescriptionContent>
                <table class="table table-bordered">
                  <thead>
                    <tr class="fw-bold fs-6 text-gray-800">
                      <th [translate]="'BOARDS.LIST.LANGUAGE'"></th>
                      <th [translate]="'BOARDS.LIST.TRANSLATION'"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td></td>
                      <td>{{ templateModel.shortDescription }}</td>
                    </tr>
                    <ng-container *ngFor="let translation of templateModel.translations">
                      <tr>
                        <td>{{ $any(translation).languageCode }}</td>
                        <td>{{ $any(translation).shortDescription }}</td>
                      </tr>
                    </ng-container>
                  </tbody>
                </table>
              </ng-template>
              <label class="fw-semibold fs-6 mb-2" [translate]="'BOARDS.LIST.SHORT_DESCRIPTION'"></label>
              <span class="ms-1" placement="end" [ngbTooltip]="tipShortDescriptionContent" container="body">
                <i class="ki-outline ki-flag text-primary" [ngClass]="templateModel.hasTranslation('shortDescription')  ? 'text-primary' : 'text-gray-600'"></i>
              </span>
              <!--end::Label-->
              <!--begin::Input-->
              <input type="text" hidden name="shortDescription" [(ngModel)]="templateModel.shortDescription"
                #shortDescription="ngModel" maxlength="500" [readonly]="isReadOnly" />
              <textarea type="text" title="{{ 'BOARDS.LIST.SHORT_DESCRIPTION' | translate }}"
                class="form-control form-control-solid" name="translationShortDescription"
                [(ngModel)]="templateModel.translationShortDescription" #translationShortDescription="ngModel"
                maxlength="500" rows="5" [readonly]="isReadOnly">
              </textarea>
              <input type="text" hidden name="translationsShortDescription"
                [(ngModel)]="templateModel.translationShortDescription" #translationsShortDescription="ngModel"
                appTranslationsValidator [translations]="templateModel.translations"
                validators='{ "property": "shortDescription", "maxlength": 500 }' [readonly]="isReadOnly" />
              <div *ngIf="myForm.submitted && myForm.invalid"
                class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
                <div
                  *ngIf="shortDescription.errors?.['maxlength'] || translationShortDescription.errors?.['maxlength'] || translationsShortDescription.errors?.['maxlength']">
                  {{ 'BOARDS.LIST.SHORT_DESCRIPTION_SHOULD_HAVE_MAXIMUM_500_CHARACTERS' | translate }}
                </div>
              </div>
              <!--end::Input-->
            </div>
            <!--end::Input group-->
            <!--begin::Input group-->
            <div class="fv-row mb-7">
              <app-editor hidden name="content" [(ngModel)]="templateModel.content" #content="ngModel" [languageCode]="templateModel.languageCode" required></app-editor>
              <app-editor name="translationContent" [(ngModel)]="templateModel.translationContent" #translationContent="ngModel" [languageCode]="templateModel.languageCode"></app-editor>
              <app-editor hidden name="translationsContent" [(ngModel)]="templateModel.translationContent" #translationsContent="ngModel" [languageCode]="templateModel.languageCode" appTranslationsValidator [translations]="templateModel.translations"></app-editor>
              <div *ngIf="myForm.submitted && myForm.invalid"
                class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
                <div *ngIf="content.errors?.['required'] || translationsContent.errors?.['required']">{{
                  'TEMPLATES.LIST.CONTENT_IS_REQUIRED' | translate }}</div>
              </div>   
            </div>
            <!--end::Input group-->   
          </div>
          <!--end::Template form-->
        </div>
      </div>
      <div class="modal-footer flex-center">
        <!--begin::Button-->
        <button *ngIf="!isReadOnly" type="reset" id="kt_modal_update_customer_cancel" class="btn btn-light me-3"
          (click)="modal.dismiss('cancel')">
          {{ 'TEMPLATES.LIST.DISCARD' | translate }}
        </button>
        <!--end::Button-->
        <!--begin::Button-->
        <button *ngIf="!isReadOnly" type="submit" id="kt_modal_update_customer_submit" class="btn btn-primary"
          [attr.data-kt-indicator]="isLoading ? 'on' : 'off'">
          <span class="indicator-label">
            {{ 'TEMPLATES.LIST.SUBMIT' | translate }}
          </span>
          <span class="indicator-progress">
            {{ 'TEMPLATES.LIST.PLEASE_WAIT' | translate }}
            <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
          </span>
        </button>
        <!--end::Button-->
      <!--begin::Button-->
      <button *ngIf="isReadOnly" type="reset" id="kt_modal_update_customer_close" class="btn btn-primary me-3"
        (click)="modal.dismiss('cancel')">
        {{ 'TEMPLATES.LIST.CLOSE' | translate }}
      </button>
      <!--end::Button-->          
      </div>
    </form>
  </ng-template>